# Семинар $1$ ДЗ
Оформление ноутбука и закрепление функций и генераторов

## Задание $1$

Оформляйте ноутбук, используя эти советы:
+ Номер задачи - заголовок $2$
+ Номер подзадачи - заголовок $3$
+ Предоставленные наборы данных оформляйте, как код

## Домашнее задание $2$

На складе лежат разные фрукты в разном количестве.

Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

## Решение

1. Создадим словарь, содержащий названия фруктов (ключи) и количество (значения)

In [2]:
fruits = {'apples': 15,
          'pears': 13,
          'peaches': 18,
          'bananas': 85,
          'pineapples': 38,
          'cherries' : 63,
          'passion fruit': 21,
          'feijoa': 26}

2. Объявим функцию

In [3]:
def number_of_fruits_v1(fruits_dict: dict) -> int:
    number_of_fruits = 0
    for v in fruits_dict.values():
        number_of_fruits += v
    return number_of_fruits

3. Передадим функции словарь

In [4]:
number_of_fruits_v1(fruits)

279

### Или напишем однострочник))

In [5]:
def number_of_fruits_v2(fruits_dict: dict) -> int:
    return sum(v for v in fruits.values())

In [6]:
number_of_fruits_v2(fruits)

279

### Или используем аргумент **kwargs

In [7]:
def number_of_fruits_v3(**kwargs: dict) -> int:
    return sum(kwargs.values())

In [8]:
number_of_fruits_v3(**fruits)

279

## Домашнее задание $3$

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. 

Удалите такие значения из списка и посчитайте суммарные затраты

$[100, 125, -90, 345, 655, -1, 0, 200]$

Используйте list comprehensions

In [9]:
list_of_costs = [100, 125, -90, 345, 655, -1, 0, 200]
list_of_costs

[100, 125, -90, 345, 655, -1, 0, 200]

In [10]:
new_list = [n for n in list_of_costs if n > 0]
new_list, sum(new_list)

([100, 125, 345, 655, 200], 1425)

In [21]:
sum([n for n in [100, 125, -90, 345, 655, -1, 0, 200] if n > 0])

1425

## Домашнее задание $4$

Даны два списка.<br>
Дата покупки

In [11]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', 
'2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам

In [12]:
pay = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре

Используйте list comprehensions

In [13]:
sum([pay[i] for i in range(len(pay)) if date[i][5:7] == '11'])

25098

### 4.2 Найдите выручку компании в зависимости от месяца

Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.

Используйте аннотирование типов.

In [14]:

def months_receipts(date: list, pay: list) -> dict:
    receipts_dict = {}
    for i in range(len(pay)):
        month = date[i].split('-')[1]
        if month in receipts_dict:
            receipts_dict[month] += pay[i]
        else:
            receipts_dict.setdefault(month, pay[i])
    return receipts_dict

In [15]:
months_receipts(date, pay)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}

In [16]:
import pandas as pd

In [19]:
df = pd.DataFrame(data = {'Date': date, 'Payment': pay})

         Date  Payment
0  2021-09-14     1270
1  2021-12-15     8413
2  2021-09-08     9028
3  2021-12-05     3703
4  2021-10-09     5739

In [20]:
df.describe()

           Payment
count    30.000000
mean   4161.400000
std    2371.279192
min     295.000000
25%    2754.500000
50%    4184.500000
75%    5735.000000
max    9028.000000

In [22]:
# 2 способ, через pandas

date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', 
        '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', 
        '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', 
        '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', 
        '2021-10-26', '2021-12-09', '2021-05-05']

amounts_by_date = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 
                   4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887, 456]
 
import pandas as pd
import datetime
 
df = pd.DataFrame()
df['Date'] = [datetime.datetime.strptime(i, '%Y-%m-%d') for i in date]
df['Sum'] = amounts_by_date
df['Month'] = pd.DatetimeIndex(df['Date']).month
df.groupby('Month', as_index=False).aggregate({'Sum':sum})

   Month    Sum
0      5    456
1      9  25647
2     10  28645
3     11  25098
4     12  45452